a {
    text-decoration: none;
    color: inherit;
}


p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #f9faff;
    ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.header {
    margin-top: 53px;
     margin-bottom: 94px;
}

.container {
    max-width: 1225px;
    margin: 0 auto;
}

.head__content-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
}

.menu__list {
    display: flex;
    font-family: "DM Sans", sans-serif;
    justify-content: space-between;
    gap: 60px;
    align-items: end;
    line-height: 36px;
    font-weight: 500;
    font-size: 14px;
    color: #3d3d3f;
}

.header__btn {
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    background: linear-gradient(180deg, #f35f2f 0%, #f35f2f 100%);
    opacity: 0.85;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    padding-top: 17px;
    padding-bottom: 12px;
    padding-right: 23px;
    padding-left: 23px;
    margin-right: 63px;

}



.top__box {
    display: flex;
    gap: 58px;
    align-items: center;
}



.top__title {
    font-family: "Rubik", sans-serif;
    color: #3d3d3f;
    font-size: 72px;
    font-weight: 500;
    line-height: 117%;
    margin-bottom: 43px;
    max-width: 515px;
}

.top__descr {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #3d3d3f;
    max-width: 536px;
    margin-bottom: 44px;
}

.top__btn {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(180deg, #f35f2f 0%, #f35f2f 100%);
    opacity: 0.85;
    border-radius: 5px;
    padding: 14px 27px 17px 28px;
    display: block;
    width: fit-content;
}

.top__right img {
    max-width: 626px;
}